.toolbar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: transparent;
  padding: 10px 0;
  box-shadow: none; /* Remove shadow if you want a completely flat appearance */
}

.navbar-brand {
  color: #fff; /* Adjust the color if needed */
  text-decoration: none;
  font-size: 1.5rem;
  padding:20px
}

.nav-link {
  color: #fff; /* Adjust the color if needed */
  text-decoration: none;
  margin-left: 20px;
}

.nav-link:hover {
  text-decoration: underline;
}

