.card{
    background-color:rgb(198, 250, 233);
    margin:20px;

}
.form-input {
    width:400px;
  }
  .toolbar {
    display: flex;
    justify-content: space-between; /* Pushes items to the start and end of the container */
    align-items: center; /* Center-aligns items vertically */
  }
  
  .hero {
    margin-left: auto; /* Pushes the hero class to the end */
  }